<section id="about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/assets/img/stockphotos/Landscape-Marketing-Ideas-9-Methods-For-Promoting-Your-Business-277671509.jpg" class="img-fluid img-thumbnail rounded float-end" alt="">
      </div>
      <div class="col-lg-6 order-2 order-lg-1 content">
        <h3>Our Mission</h3>
        <p>Is to simply provide top-notch services that make your life easier and your spaces better. Whether it’s maintaining a perfectly manicured lawn, crafting custom woodwork, or installing sturdy metal fencing, we approach every project with the same level of dedication and care.
        </p>

        <p><strong>Why Choose Us?</strong></p>
        <ul>
          <li><i class="bi bi-check2-all"></i> <strong>Versatility:</strong><span class="ps-1">We offer a comprehensive range of services, from lawn care and cleaning to welding, fabrication, and custom woodworking.</span></li>
          <li><i class="bi bi-check2-all"></i> <strong>Expertise:</strong><span class="ps-1">Our team is composed of skilled professionals who bring years of experience and a passion for quality to every job.</span></li>
          <li><i class="bi bi-check2-all"></i> <strong>Focused: </strong><span class="ps-1">We believe in building strong relationships with our clients, understanding their needs, and delivering results that exceed expectations.</span></li>
        </ul>
        <p>
          At Watson All Around, we’re more than just a service provider—we’re your go-to experts for all-around property care and improvement. Let us take care of the details so you can enjoy the results.
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->
