<section id="about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">
      <div class="col-lg-5 order-1 order-lg-2 pt-4">
        <img src="assets/img/Gallery/Landscaping/Mowing-Yard-Cleanup(9).jpg" class="img-fluid img-thumbnail rounded float-end" alt="">
      </div>
      <div class="col-lg-7 order-2 order-lg-1 content">
        <h3>Our Mission</h3>
        <p>At Watson All Around, our mission is to enhance the beauty, security, and functionality of outdoor spaces through reliable, high-quality
        services. We are dedicated to providing top-tier lawn care, fencing, and welding solutions tailored to meet the unique needs of our customers.
        As a proud locally-owned business, we strive to build lasting relationships and deliver exceptional results that exceed expectations.</p>

        <p><strong>Why Choose Us?</strong></p>
        <p>As a locally-owned business, Watson All Around is deeply committed to serving the Blanchard, OK community and the surrounding areas.
        We understand the unique needs of our customers and take pride in delivering high-quality, personalized service with a local touch.</p>
        <ul>
          <li><i class="bi bi-check2-all"></i>From lawn care and fencing to welding and custom fabrication, we offer a wide range of solutions to meet all your outdoor needs.</li>
          <li><i class="bi bi-check2-all"></i>Our skilled professionals use top-of-the-line equipment and materials to ensure precision, quality, and efficiency in every job.</li>
          <li><i class="bi bi-check2-all"></i>We tailor our services to fit your specific requirements and budget, offering flexible maintenance plans and custom solutions.</li>
        </ul>
        <p>At Watson All Around, we prioritize customer satisfaction above all else. Our commitment to exceptional service, competitive pricing,
        and delivering results that exceed your expectations sets us apart as the trusted choice for all your outdoor service needs.</p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->
