<section id="hero" class="hero section dark-background">

  <img src="assets/img/Gallery/Landscaping/Mowing-Yard-Cleanup(7).jpg" alt="" data-aos="fade-in">

  <div class="container">

    <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-12">
        <h2>Watson All Around</h2>
        <p>Your reliable partner for outdoor services in Blanchard, OK, and beyond.<br />
         We specialize in lawn maintenance, fencing, and welding to keep your outdoor space at its best.</p>
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <i class="bi bi-binoculars"></i>
          <h3>Landscaping and Fencing</h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <i class="bi bi-bullseye"></i>
          <h3>Dirt Work</h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
          <i class="bi bi-fullscreen-exit"></i>
          <h3>Welding and Fabrication</h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box">
          <i class="bi bi-card-list"></i>
          <h3>Professional Cleaning</h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="icon-box">
          <i class="bi bi-gem"></i>
          <h3>Custom Woodwork</h3>
        </div>
      </div>
    </div>

  </div>

</section><!-- /Hero Section -->
