<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>Pricing</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <p class="text-center">We provide services for property managers, contractors, and your personal home.<br />
      No projects is to large or to small for our crew of professionals.</p>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3 class="text-uppercase">Weekly</h3>
          </a>
          <div class="table-responsive">
            <table width="100%" class="table table-striped table-warning">
              <tr>
                <td>Avg. Front & Back yard</td>
                <td>$50.00</td>
              </tr>
              <tr>
                <td>1/2 Acre</td>
                <td>$70.00</td>
              </tr>
              <tr>
                <td>Per Acre</td>
                <td>$140.00</td>
              </tr>
            </table>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3 class="text-uppercase">Bi Weekly</h3>
          </a>
          <div class="table-responsive">
            <table width="100%" class="table table-striped table-warning">
              <tr>
                <td>Avg. Front & Back yard</td>
                <td>$55.00</td>
              </tr>
              <tr>
                <td>1/2 Acre</td>
                <td>$75.00</td>
              </tr>
              <tr>
                <td>Per Acre</td>
                <td>$145.00</td>
              </tr>
            </table>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3 class="text-uppercase">Monthly</h3>
          </a>
          <div class="table-responsive">
            <table width="100%" class="table table-striped table-warning">
              <tr>
                <td>Avg. Front & Back yard</td>
                <td>$60.00</td>
              </tr>
              <tr>
                <td>1/2 Acre</td>
                <td>$80.00</td>
              </tr>
              <tr>
                <td>Per Acre</td>
                <td>$150.00</td>
              </tr>
            </table>
          </div>
        </div>
      </div><!-- End Service Item -->


      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Add-Ons</h3>
          </a>
          <div class="table-responsive">
            <table width="100%" class="table table-striped table-warning">
              <tr>
                <td>Edging</td>
                <td>$20.00</td>
              </tr>
              <tr>
                <td>Bagging (Yard trimming hall off fee)</td>
                <td>$10 - $15 per size</td>
              </tr>
            </table>
          </div>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->
    </div>

  </div>

</section><!-- /Services Section -->
